<app-auth-container [data]="loginContent"
                    (redirectTo)="redirectTo($event)">
  <div class="app-log-in">
    <form [formGroup]="formGroup"
          (ngSubmit)="submit()"
          class="app-log-in__form">
      <app-form-field>
        <input type="text"
               appInput
               placeholder=" "
               id="appLogInLogin"
               formControlName="login">
        <app-label inputId="appLogInLogin">{{ 'AUTH.LOG_IN.LOGIN' | transloco }}</app-label>
        <app-error *ngIf="login.dirty || login.touched">
          <ng-container *ngIf="login.hasError('required')">
            {{ 'AUTH.ERRORS.FIELD_REQUIRED' | transloco }}
          </ng-container>
          <ng-container *ngIf="login.hasError('minlength')">
            {{ 'AUTH.ERRORS.LOGIN_MINLENGTH' | transloco }}
          </ng-container>
        </app-error>
      </app-form-field>

      <app-form-field>
        <input type="password"
               appInput
               id="appLogInPassword"
               placeholder=" "
               formControlName="password"
               class="app-form-field__input">
        <app-label inputId="appLogInPassword">{{ 'AUTH.LOG_IN.PASSWORD' | transloco }}</app-label>
        <app-error *ngIf="password.dirty || password.touched">
          <ng-container *ngIf="password.hasError('required')">
            {{ 'AUTH.ERRORS.FIELD_REQUIRED' | transloco }}
          </ng-container>
          <ng-container *ngIf="password.hasError('minlength')">
            {{ 'AUTH.ERRORS.PASSWORD_MINLENGTH' | transloco }}
          </ng-container>
        </app-error>
      </app-form-field>

      <div class="app-log-in__actions">
        <button type="submit"
                class="app-button app-log-in__button">{{ 'AUTH.LOG_IN.SUBMIT' | transloco }}</button>
      </div>
      <div class="app-log-in__remind-password">
        <a class="app-log-in__remind-password-link"
           routerLink="/auth/remind-password">{{ 'AUTH.LOG_IN.REMIND_PASSWORD' | transloco }}</a>
      </div>
    </form>
  </div>
</app-auth-container>
