/**
 * FONT WEIGHT
 */
$app-font-weight-normal: 400;
$app-font-weight-medium: 500;
$app-font-weight-semibold: 600;
$app-font-weight-bold: 700;
$app-font-weight-extra-bold: 800;

$app-time-transition: 300ms;

/**
 * USED COLORS
 */
$app-white-color: #ffffff;
$app-ghost-white-color:#F7F8FA;
$app-ghost-white-op62-color: rgba(247, 248, 250, 0.62);
$app-platinum-color: #e7e7e7;
$app-lavender-color: #E3E9FA;
$app-lotion-color: #fdfdfd;
$app-spanish-gray-color: #9d9d9d;
$app-dark-silver-color: #707070;
$app-dim-gray-color-op-87: rgba(107,107,107,.87);
$app-davy-grey-color: #535252;
$app-black-color: #000000;
$app-luminous-red-color: #F70000;
$app-pink-color: #ffbfbf;
$app-celtic-blue-color: #285fd2;
$app-bluebonnet-color: #1E0BFF;
$app-royal-blue-color: #437CE4;
$app-air-force-blue-color: #10398D;
$app-cetacean-blue-color: #021647;
$app-metallic-sunburst-color: #9B9030;
$app-lemon-meringue-color: #f6ecbc;
$app-kelly-green-color: #3FB500;
$app-tea-green-color: #CEF4C8;
$app-beer-color: #FF8F22;
$app-india-green-color: #14870C;
$app-light-silver-op20-color: rgba(217, 217, 217, .2);
$app-light-silver-op70-color: rgba(217, 217, 217, .7);
$app-light-silver-op15-color: rgba(217, 217, 217, .15);
$app-granny-smith-apple-op80-color: rgba(174, 226, 145, 0.8);
$app-white-color-hover: #e7e7e7;


$app-mobile-width: 768px;
$app-small-mobile-width: 410px;

/**
 * GLOBAL
 */
$app-main-f-color: $app-dark-silver-color;
$app-main-f-hover-color: $app-davy-grey-color;
$app-global-shadow-box-color: $app-spanish-gray-color;

$app-global-f-color: #707070;
$app-global-f-hover-color: rgb(83, 82, 82);
$app-global-f-hover-color: #535252;
$app-global-bg-color: #fdfdfd;

/**
 * AUTH CONTAINER
 */
$app-auth-container-main-color: $app-white-color;
$app-auth-container-secund-color: $app-celtic-blue-color;

/**
 * LOGIN
 */
$app-login-remind-password-f-color: $app-main-f-color;

/**
 * NAV
 */
$app-nav-f-color: $app-main-f-color;
$app-nav-f-hover-color: $app-main-f-hover-color;
$app-nav-text-shadow-hover-color: $app-celtic-blue-color;
$app-nav-switch-bg-color: $app-dark-silver-color;
$app-nav-switch-b-color: $app-dark-silver-color;
$app-nav-switch-shadow-color: $app-dark-silver-color;

/**
 * MENU
 */
$app-menu-switch-border: $app-global-f-color;

/**
 * TOP BAR
 */
$app-top-bar-shadow-color: $app-dim-gray-color-op-87;

/**
 * ALERT
 */
$app-status-alert-main-color: $app-luminous-red-color;
$app-status-alert-secund-color: $app-pink-color;

$app-status-warn-main-color: $app-metallic-sunburst-color;
$app-status-warn-secund-color: $app-lemon-meringue-color;

$app-status-success-main-color: $app-kelly-green-color;
$app-status-success-secund-color: $app-tea-green-color;

/**
 * ERROR
 */
$app-error-main-color: $app-luminous-red-color;

/**
 * FORM FIELD
 */
$app-form-field-b-color: $app-dark-silver-color;
$app-form-field-error-color: $app-luminous-red-color;
$app-form-field-bg-color: $app-white-color;

/**
 * SEARCH
 */
$app-search-bg-color: $app-white-color;

/**
 * LIST ITEM
 */
$app-list-item-shadow-color: $app-global-shadow-box-color;
$app-list-item-f-color: $app-black-color;

/**
 * QUESTION
 */
$app-question-bg-color: $app-lotion-color;
$app-question-progress-bg-color: $app-ghost-white-color;
$app-question-actions-bg-color: $app-ghost-white-color;
$app-question-border-color:$app-lavender-color;
$app-question-f-color: $app-main-f-color;

/**
 * PROGRESS
 */
$app-progress-good-color: $app-kelly-green-color;
$app-progress-wrong-color: $app-luminous-red-color;
$app-progress-summary-color: $app-celtic-blue-color;

/**
 * QUESTIONS FORM
 */
$app-questions-form-f-color: $app-main-f-color;
$app-questions-form-shadow-color: $app-global-shadow-box-color;
$app-questions-form-glow-color: $app-celtic-blue-color;
$app-questions-form-bg-color: $app-lotion-color;

/**
 * STATUS
 */
$app-status-private: $app-beer-color;
$app-status-public: $app-india-green-color;
$app-status-in-review: $app-bluebonnet-color;
$app-status-f-color: $app-white-color;

/**
 * button
 */
$app-button-primary-color: $app-celtic-blue-color;
$app-button-primary-hover-color: $app-royal-blue-color;
$app-button-primary-border-color: $app-air-force-blue-color;
$app-button-primary-shadow-text-color: $app-cetacean-blue-color;
$app-button-f-color: $app-white-color;

/**
 * CARD
 */
$app-card-shadow-color: $app-global-shadow-box-color;
$app-card-linear-light-color: $app-light-silver-op20-color;
$app-card-linear-dark-color: $app-light-silver-op70-color;
$app-card-circle-color: $app-light-silver-op15-color;

/**
 * QUESTION TYPE
 */
$app-question-type-bg-color: $app-white-color;
$app-question-type-f-color: $app-main-f-color;
$app-question-type-b-color: $app-lavender-color;
$app-question-type-selected-bg-color: $app-ghost-white-op62-color;
$app-question-type-correct-answer-bg-color: $app-granny-smith-apple-op80-color;
$app-question-type-correct-answer-border-color: $app-kelly-green-color;
$app-question-type-incorrect-answer-bg-color: $app-pink-color;
$app-question-type-incorrect-answer-border-color: $app-luminous-red-color;

/**
 * TOASTER
 */
$app-toaster-alert-main-color: $app-luminous-red-color;
$app-toaster-warn-main-color: $app-metallic-sunburst-color;
$app-toaster-success-main-color: $app-kelly-green-color;
