<app-auth-container [data]="remindPasswordContent"
                    (redirectTo)="redirectTo($event)">
  <div class="app-remind-password">
    <form [formGroup]="formGroup"
          class="app-remind-password__form">
      <app-form-field>
        <input type="text"
               appInput
               placeholder=" "
               id="appRemindPasswordEmail"
               formControlName="email">
        <app-label inputId="appRemindPasswordEmail">{{ 'AUTH.REMIND_PASSWORD.EMAIL' | transloco }}</app-label>
        <app-error *ngIf="email.dirty || email.touched">
          <ng-container *ngIf="email.hasError('required')">
            {{ 'AUTH.ERRORS.FIELD_REQUIRED' | transloco }}
          </ng-container>
          <ng-container *ngIf="email.hasError('minlength')">
            {{ 'AUTH.ERRORS.EMAIL_MINLENGTH' | transloco }}
          </ng-container>
          <ng-container *ngIf="email.hasError('email') && !email.hasError('minlength')">
            {{ 'AUTH.ERRORS.EMAIL' | transloco }}
          </ng-container>
        </app-error>
      </app-form-field>

      <div class="app-remind-password__actions">
        <button type="submit"
                class="app-button app-remind-password__button">{{ 'AUTH.REMIND_PASSWORD.SUBMIT' | transloco }}</button>
      </div>
    </form>
  </div>
</app-auth-container>
