@import "src/resources/variables";

.app-filters {
  display: flex;
  justify-content: center;
  align-items: center;

  &__search {
    min-width: 350px;

    @media (max-width: $app-small-mobile-width) {
      min-width: 250px;
    }
  }
}
