<section class="app-top-bar">
  <div class="app-top-bar__logo">logo</div>
  <div class="app-top-bar__content">
    <ng-container *ngIf="visibilitedSearch; then search else authorizations"></ng-container>
  </div>
  <div class="app-top-bar__search-button-content">
    <button class="app-top-bar__search-button" [class.app-top-bar__search-button--active]="visibilitedSearch" (click)="changeSearchVisibility()"></button>
  </div>
</section>

<ng-template #search>
  <app-search class="app-top-bar__search"></app-search>
</ng-template>

<ng-template #authorizations>
  <div class="app-top-bar__authorizations">Przyciski</div>
</ng-template>
