@import "../variables";

::ng-deep {
  .app-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $app-button-primary-color;
    border-radius: 20px;
    border: 1px solid $app-button-primary-border-color;
    cursor: pointer;
    color: $app-white-color;
    font-weight: $app-font-weight-medium;
    font-size: 17px;
    padding: 10px 20px;
    text-shadow: 0 1px 0 $app-button-primary-shadow-text-color;
    outline: none;
    user-select: none;
    transition: background-color 200ms;

    &--circle {
      border-radius: 50%;
    }

    &--small-padding {
      padding: 5px;
    }

    &:hover {
      background-color: $app-button-primary-hover-color;
    }

    &:active {
      position: relative;
      top: 1px;
    }

    &:not(:first-child) {
      margin-left: 20px;
    }
  }
}

