@import "src/resources/variables";

::ng-deep {
  .app-form {
    padding-top: 20px;

    &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__content {
      width: 100%;
      max-width: 800%;
      display: flex;
      flex-direction: column;
    }

    &__form-field, &__errors {
      display: flex;
      justify-content: center;
    }

    &__errors {
      padding: 20px;
    }

    &__header {
      text-align: center;
      font-size: 30px;
      line-height: 35px;
      letter-spacing: 0.4px;
      font-weight: $app-font-weight-medium;
      color: $app-questions-form-f-color;
      text-shadow: 1px 1px 2px $app-questions-form-shadow-color;

      @media (max-width: $app-small-mobile-width) {
        font-size: 20px;
        line-height: 25px;
      }
    }

    &__questions {
      position: relative;
      width: 100%;
      max-width: 900px;
      display: flex;
      justify-content: center;
      margin: auto;

      &:before {
        content: "";
        height: 1px;
        width: 100%;
        background-color: $app-questions-form-glow-color;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
      }
    }

    &__questions-content {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 300px;
      background-color: $app-questions-form-bg-color;
      padding: 0 20px;
      z-index: 3;
      position: relative;
    }

    &__questions-title {
      font-size: 20px;
      line-height: 25px;
      text-transform: uppercase;
      color: $app-questions-form-f-color;
      letter-spacing: 0.4px;
      text-shadow: 1px 1px 2px $app-questions-form-shadow-color;
    }

    &__actions {
      padding-top: 20px;
      display: flex;
      justify-content: center;
    }
  }
}
