@import "src/resources/variables";

::ng-deep {
  .app-question-type {

    &__content {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $app-question-type-bg-color;
      border: 1px solid $app-question-type-b-color;
      min-height: 100px;
      padding: 20px;

      &--selected {
        border-width: 3px;
        background-color: $app-question-type-selected-bg-color;
      }

      &--correct {
        background-color: $app-question-type-correct-answer-bg-color;
        border-color: $app-question-type-correct-answer-border-color;
      }

      &--incorrect {
        background-color: $app-question-type-incorrect-answer-bg-color;
        border-color: $app-question-type-incorrect-answer-border-color;
      }
    }

    &__form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__input {
      max-width: 500px;
      min-width: 250px;
      width: 100%;
      @media (max-width: $app-small-mobile-width) {
        max-width: none;
        min-width: auto;
      }
    }

    &__radio, &__checkbox {
      display: none;
    }

    &__label {
      font-size: 17px;
      line-height: 21px;
      text-align: center;
      font-weight: $app-font-weight-medium;
      color: $app-question-type-f-color;
    }
  }
}
