@import "../../../../../resources/variables";

.app-status {
  padding: 3px 10px;
  border-radius: 0 0 0 10px;
  color: $app-status-f-color;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  user-select: none;

  &--private {
    background-color: $app-status-private;
    box-shadow: 0 0 5px $app-status-private;
  }

  &--public {
    background-color: $app-status-public;
    box-shadow: 0 0 5px $app-status-public;
  }

  &--in-review {
    background-color: $app-status-in-review;
    box-shadow: 0 0 5px $app-status-in-review;
  }

  &__text {
    font-size: 10px;
    font-weight: $app-font-weight-semibold;
    text-transform: uppercase;
    letter-spacing: .5px;
  }
}
