.app-list {
  padding-top: 10px;
  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__filters {

  }

  &__list {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, minmax(250px, 350px));
    justify-content: center;
    grid-gap: 25px;
    padding-top: 10px;
  }
}
