<div class="app-question-type">
  <form [formGroup]="formGroup" class="app-question-type__form">
    <div class="app-question-type__content"
         [class.clickable]="!blockedField"
         [class.app-question-type__content--correct]="checkCorrect(field.value) && blockedField"
         [class.app-question-type__content--incorrect]="!checkCorrect(field.value) && blockedField">
      <app-form-field>
        <input appInput
               #field
               type="text"
               formControlName="answer"
               class="app-form-field__input app-question-type__input">
      </app-form-field>
    </div>
  </form>
</div>
