@import "src/resources/variables";
@import "src/resources/fonts/fonts";

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &, &__content {
    width: 100%;
  }

  &__content {
    width: 100%;
    position: relative;
    display: block;
    flex-grow: 1;
    flex-basis: auto;
    background-color: $app-global-bg-color;
  }

  &__toastr {
    position: fixed;
    bottom: 5vh;
    right: 0;
    z-index: 1000;
  }
}

@import "src/resources/blocks/merge-components";

::ng-deep {
  * {
    font-family: "Roboto";
  }

  .app-wrapper {
    max-width: 1500px;
    width: 100%;
    margin: auto;
    padding: 0 10px;
  }

  .clickable {
    cursor: pointer !important;
  }

  .svg-color {
    //* {
      fill: red;
    //}/
  }
}
