@import "src/resources/variables";

.app-top-bar {
  width: 100%;
  box-shadow: 0 3px 6px $app-top-bar-shadow-color;
  position: relative;
  padding: 10px 20px;
  display: flex;
  z-index: 999;
  height: 90px;

  &__wrapper {
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    grid-column-gap: 20px;

    @media (max-width: $app-small-mobile-width) {
      grid-template-columns: 150px 1fr;
    }
  }

  &__logo {
    height: 70px;
    border: 1px solid black; //TODO zmienić na logo
  }

  &__content {
    transition: ease $app-time-transition;
  }
}
