<div class="app-question-type">
  <form [formGroup]="formGroup" class="app-question-type__form">
    <ng-container *ngFor="let field of answers">
      <input type="checkbox"
             #formField
             formControlName="answer"
             [name]="field.id"
             class="app-question-type__checkbox"
             (change)="changeValue(field.id, formField.checked)"
             [value]="field.id"
             [id]="'answer' + field.id">
      <label class="app-question-type__content"
             [htmlFor]="formField.id"
             [class.clickable]="!blockedField"
             [class.app-question-type__content--selected]="isSelectedField(field.id)"
             [class.app-question-type__content--correct]="checkCorrect(field.id.toString()) && blockedField"
             [class.app-question-type__content--incorrect]="!checkCorrect(field.id.toString()) && blockedField">
        <span class="app-question-type__label">{{ field.contents }}</span>
      </label>
    </ng-container>
  </form>
</div>
