$app-white-color: #fff;
$app-black-color: #000;
$app-transparent: transparent;


/**
 * button
 */
$app-button-primary-color: #44c767;
$app-button-primary-hover-color: #5cbf2a;
$app-button-primary-border-color: #18ab29;
$app-button-primary-shadow-text-color: #2f6627;
