<div class="app-form app-category-form">
  <div class="app-form__wrapper app-wrapper">
    <app-alert [status]="alert$ | async"></app-alert>
    <h3 class="app-form__header">
      {{ 'QUESTION.FORM.HEADER' | transloco }}
    </h3>
    <form (ngSubmit)="create()"
          [formGroup]="formGroup"
          class="app-form__content">
      <app-form-field class="app-form__form-field">
        <input appInput
               formControlName="title"
               id="title"
               type="text"
               placeholder=" "
               class="app-form__field">
        <app-label [inputId]="'title'">
          {{ 'QUESTION.FORM.TITLE' | transloco }}
        </app-label>
      </app-form-field>

      <button type="submit" class="app-button app-category-form__button">Dodaj</button>
    </form>
  </div>
</div>
