<div class="app-form">
  <div class="app-form__wrapper app-wrapper">
    <app-alert [status]="alert$ | async"></app-alert>
    <h3 class="app-form__header">
      {{ 'QUESTION.FORM.HEADER' | transloco }}
    </h3>
    <form (ngSubmit)="create()"
          [formGroup]="formGroup"
          class="app-form__content">
      <app-form-field class="app-form__form-field">
        <input appInput
               formControlName="title"
               id="title"
               type="text"
               placeholder=" "
               class="app-form__field">
        <app-label [inputId]="'title'">
          {{ 'QUESTION.FORM.TITLE' | transloco }}
        </app-label>
      </app-form-field>

      <app-form-field [isAutoHeight]="true"
                      class="app-form__form-field">
        <textarea appInput
                  formControlName="description"
                  id="description"
                  placeholder=" "
                  class="app-form__field"></textarea>
        <app-label [inputId]="'description'">
          {{ 'QUESTION.FORM.DESCRIPTION' | transloco }}
        </app-label>
      </app-form-field>

      <app-form-field [isAutoHeight]="true"
                      class="app-form__form-field">
        <select appInput
                formControlName="categoryId"
                id="category"
                class="app-form__field">
          <option *ngFor="let category of categoryList | async" [value]="category?.id_category">{{ category?.title }}</option>
        </select>
        <app-label [inputId]="'category'">
          {{ 'QUESTION.FORM.CATEGORY' | transloco }}
        </app-label>
      </app-form-field>

<!--      <div class="app-form__questions">-->
<!--        <div class="app-form__questions-content">-->
<!--          <h4 class="app-form__questions-title">{{ 'QUESTION.FORM.QUESTIONS' | transloco }}</h4>-->
<!--          <button type="button"-->
<!--                  (click)="addQuestion()"-->
<!--                  class="app-button app-button&#45;&#45;circle app-button&#45;&#45;small-padding">-->
<!--            <img src="assets/images/add.svg" class="app-button__icon">-->
<!--          </button>-->
<!--        </div>-->
<!--      </div>-->

<!--      <app-error class="app-form__errors" *ngIf="formArray.hasError('minLengthArray') && (formArray.dirty || formArray.touched)">{{ 'QUESTION.FORM.ERRORS.QUESTION_MIN_LENGTH_ARRAY' | transloco }}</app-error>-->

<!--      <div [formArrayName]="'questions'">-->
<!--        <app-question-item *ngFor="let field of formArray?.controls; let index = index"-->
<!--                           [formGroupName]="index"-->
<!--                           [parentGroup]="field"-->
<!--                           (remove)="removeQuestion($event)"-->
<!--                           [parentListenChanged]="listenChanged$"></app-question-item>-->
<!--      </div>-->

      <div class="app-form__actions">
        <button class="app-button" type="submit">{{ 'QUESTION.FORM.SUBMIT' | transloco }}</button>
      </div>
    </form>
  </div>
</div>
