<div class="app-progress">
  <div class="app-progress__wrapper app-wrapper">
    <div class="app-progress__section">
      <img src="assets/images/good.svg" class="app-progress__img">
      <span class="app-progress__section-text app-progress__section-text--good">0</span>
    </div>
    <div class="app-progress__section">
      <img src="assets/images/wrong.svg"
           class="app-progress__img">
      <span class="app-progress__section-text app-progress__section-text--wrong">0</span>
    </div>
    <div class="app-progress__section">
      <img src="assets/images/summary.svg"
           class="app-progress__img">
      <span class="app-progress__section-text app-progress__section-text--summary">0</span>
    </div>
  </div>
</div>
