@import "src/resources/variables";

.app-progress {
  height: 100%;
  display: flex;
  align-items: center;

  &__wrapper {
    display: flex;
    justify-content: center;
  }

  &__section {
    display: flex;
    align-items: center;
    padding: 0 5px;
  }

  &__img {
    width: 24px;
    height: 24px;
  }

  &__section-text {
    text-align: center;
    font-size: 17px;
    font-weight: $app-font-weight-semibold;
    padding-left: 5px;

    &--good {
      color: $app-question-correct-answer-f-color;
    }

    &--wrong {
      color: $app-question-incorrect-answer-f-color;
    }

    &--summary {
      color: $app-question-summary-answer-f-color;
    }
  }
}
