<app-auth-container [data]="signupContent"
                    (redirectTo)="redirectTo($event)">
  <div class="app-sign-up">
    <form [formGroup]="formGroup" class="app-sign-up__form">
      <app-form-field>
        <input type="text"
               appInput
               placeholder=" "
               id="appSignUpLogin"
               formControlName="login">
        <app-label inputId="appSignUpLogin">{{ 'AUTH.SIGN_UP.LOGIN' | transloco }}</app-label>
        <app-error *ngIf="login.dirty || login.touched">
          <ng-container *ngIf="login.hasError('required')">
            {{ 'AUTH.ERRORS.FIELD_REQUIRED' | transloco }}
          </ng-container>
          <ng-container *ngIf="login.hasError('minlength')">
            {{ 'AUTH.ERRORS.LOGIN_MINLENGTH' | transloco }}
          </ng-container>
        </app-error>
      </app-form-field>

      <app-form-field>
        <input type="text"
               appInput
               placeholder=" "
               id="appSignUpPassword"
               formControlName="password">
        <app-label inputId="appSignUpPassword">{{ 'AUTH.SIGN_UP.PASSWORD' | transloco }}</app-label>
        <app-error *ngIf="password.dirty || password.touched">
          <ng-container *ngIf="password.hasError('required')">
            {{ 'AUTH.ERRORS.FIELD_REQUIRED' | transloco }}
          </ng-container>
          <ng-container *ngIf="password.hasError('minlength')">
            {{ 'AUTH.ERRORS.PASSWORD_MINLENGTH' | transloco }}
          </ng-container>
        </app-error>
      </app-form-field>

      <app-form-field>
        <input type="text"
               appInput
               placeholder=" "
               id="appSignUpRepeatPassword"
               formControlName="repeatPassword">
        <app-label inputId="appSignUpRepeatPassword">{{ 'AUTH.SIGN_UP.REPEAT_PASSWORD' | transloco }}</app-label>
        <app-error *ngIf="repeatPassword.dirty || repeatPassword.touched">
          <ng-container *ngIf="repeatPassword.hasError('required')">
            {{ 'AUTH.ERRORS.FIELD_REQUIRED' | transloco }}
          </ng-container>
          <ng-container *ngIf="repeatPassword.hasError('minlength')">
            {{ 'AUTH.ERRORS.PASSWORD_MINLENGTH' | transloco }}
          </ng-container>
        </app-error>
      </app-form-field>

      <app-form-field>
        <input type="text"
               appInput
               placeholder=" "
               id="appSignUpEmail"
               formControlName="email">
        <app-label inputId="appSignUpRepeatPassword">{{ 'AUTH.SIGN_UP.EMAIL' | transloco }}</app-label>
        <app-error *ngIf="email.dirty || email.touched">
          <ng-container *ngIf="email.hasError('required')">
            {{ 'AUTH.ERRORS.FIELD_REQUIRED' | transloco }}
          </ng-container>
          <ng-container *ngIf="email.hasError('minlength')">
            {{ 'AUTH.ERRORS.EMAIL_MINLENGTH' | transloco }}
          </ng-container>
          <ng-container *ngIf="email.hasError('email') && !email.hasError('minlength')">
            {{ 'AUTH.ERRORS.EMAIL' | transloco }}
          </ng-container>
        </app-error>
      </app-form-field>

      <div class="app-sign-up__actions">
        <button type="submit"
                class="app-button app-sign-up__button">{{ 'AUTH.SIGN_UP.SUBMIT' | transloco }}</button>
      </div>
    </form>
  </div>
</app-auth-container>
