@import "src/resources/variables";

.app-alert {
  width: 100%;
  border-style: solid;
  border-width: 1px;
  padding: 15px;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: .5px;
  font-weight: $app-font-weight-medium;
  text-align: center;

  &--error {
    border-color: $app-status-alert-main-color;
    background-color: $app-status-alert-secund-color;
    color: $app-status-alert-main-color;
  }

  &--warn {
    border-color: $app-status-warn-main-color;
    color: $app-status-warn-main-color;
    background-color: $app-status-warn-secund-color;
  }

  &--success {
    border-color: $app-status-success-main-color;
    color: $app-status-success-main-color;
    background-color: $app-status-success-secund-color;
  }
}
